h1{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
}

h2{
    margin-top: 0px;
}

.botao{
    display: inline-block;
    background:rgb(201, 3, 201);
    color: rgb(68, 4, 68);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.itens{
    background:#d7d7d7;
    border: 1px solid #c7c7c7;
    padding:10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}