body{
    font-family:Arial;
    margin:40px;
}

.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.informacoes{
    display: grid;
    place-items: start;
    place-self: start;
    gap: 20px;
}

.titulo{
    grid-column: 1 / -1;
    
}



.descricao{
    text-align: right;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

img{
   height: 500px;
   width: 500px;
}

.botao{
    background:#a8f;
    color:#103;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    grid-column: 2;
    align-self: start;
    text-align: center;
}