body{
    font-family:Arial;
    margin:40px;
}

.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.foto{
    grid-column: span 3;
}

.descricao{
    grid-column: span 3;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

img{
   max-width: 100%;
}

.botao{
    background:#a8f;
    color:#103;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    grid-column: span 3;
}