body{

    margin:0px;

}
h1{ 

    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    
}

div{

    background:#aaa;
    width:140px;
    height:80px;
    padding:30px;
    border: 10px solid #000;
    margin: 30px;

}

a{
    background: seagreen;
    color: white;
    font-size: 30px;
}
p{  
    background-color: #2e8b57;
    color: #ffffff;
    font-size:20px;
}