body{
    font-family:Arial;
}

div{
    background-color: #111;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}

h1{
    text-align:center;
    font-size: 40px;
}

h2{
    color: #fff;
}

.preco{
    color: #febe01;
    font-size: 20px;
}

p{
    color:#b2b2b2;
}

.modelo{
    color:#febe01;
}

a{
    display: block;
    width: 200px;
    text-align: center;
    background-color: #febe01;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

a:hover{
    background-color: #332200;
    color: #fff;
}